html, body {
  height : 100%;
  margin : 0px;
  /* https://la.by/forum/dizayn-i-programmirovanie/samyy-udobnyy-dlya-chteniya-shrift-v-internete */
  font-family  : Verdana, Arial, Helvetica, sans-serif;
}


.table_drop_spacing {
  border-collapse: collapse;
}
.table_drop_spacing td {
  padding: 0px;
}
